#about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 86px 0; 
}

#about-section p {
  margin: 5px 10px 5px 10px;
  max-width: 800px;
  text-align: justify;
}

.img-fluid {
  height: 230px;
  width: 100%;
  object-fit: cover;
}
